.container {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid gray;
  flex: 1;
  gap: 10px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
}

.start {
  justify-content: flex-start;
  align-items: baseline;
  gap: 5px;
}

.start > label {
  margin-right: 0px;
}

label {
  margin-right: 5px;
}

.select-model {
  width: 100%;
}

.input-number {
  max-width: 75px;
}

.header {
  text-align: start;
  padding-left: 20px;
  font-size: x-large;
  max-width: 72.5vw;
}

.wide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: baseline;
  border: 1px solid gray;
}

.wide > .input-row {
  flex: 0 1 ;
  align-items: baseline;
}

.stats {
  white-space: wrap;
  justify-content: center;
}

.angled-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 135px;
  overflow: hidden;
  z-index: 1000;
}

.angled-ribbon a {
  display: block;
  width: 300px;
  height: 45px;
  background: #1a1a1a;
  color: #ffffff;
  font-size: .8rem;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 30px;
  right: -100px;
  transform: rotate(45deg);
  transition: all 0.3s;
  border: 1px solid #1a1a1a;
}

.angled-ribbon a:hover {
  border-color: #646cff;
}

.legal {
  color: #333333;
  font-size: .5rem;
}

.loader {
  border: 5px solid transparent;
  border-top: 5px solid highlight;
  border-radius: 50%;
  width: 20px;
  height: .9rem;
  animation: spin 1s linear infinite;
}

.center-text {
  display: flex;
  justify-content: center;
  min-height: 100px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pay-me {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.pay-me > svg {
  max-width: 30px;
  max-height: 30px;
}

.memory-medium {
  color: yellow; /* Color it yellow if memory usage is above 250MB */
}

.memory-high {
  color: red; /* Color it red if memory usage is above 1GB */
}
